README~
./bin/npcl*
./source/objrel/*.o
./source/objdeb/*.o
bin
.gitignore~
objrel
objdeb
qnpcl*
npcl64
me00.png
model.pdhs
*.laueb
fparser
source/npcl64.*
source/.qtc_clangd
*.*~
Makefile-fp.rel
source/omp.h