README~
./bin/npcl*
./source/objrel/*.o
./source/objdeb/*.o
./source/omp.h
bin
.gitignore~
objrel
objdeb
qnpcl*
npcl64
me00.png
model.pdhs
*.laueb
fparser
source/npcl64.*
source/.qtc_clangd
source/omp.h
source/*.old
*.*~
Makefile-fp.rel
*.xyz
example/14/*.rdhs
example/14/*.rdhl

